<script type="x-mustache-tmpl" id="tmpl-head">
    <div class="cite-nav-left">Cite a {{sourcefull}} <a id="changesource" href="">Change</a></div>
    <div id="sourcelist">
        Cite a...
        <ul>
            <li><a href="?source=book&amp;style={{style}}">book (in entirety)</a></li>
            <li><a href="?source=chapter&amp;style={{style}}">chapter or essay from a book</a></li>
            <li><a href="?source=magazine&amp;style={{style}}">magazine article</a></li>
            <li><a href="?source=newspaper&amp;style={{style}}">newspaper article</a></li>
            <li><a href="?source=journal&amp;style={{style}}">scholarly journal article</a></li>
            <li><a href="?source=website&amp;style={{style}}">web site</a></li>
        </ul>
        <div class="cite-nav-right"><a href="">x Close</a></div>
    </div>
    <div class="cite-nav-right">
        Citation style:
        <a href="?source={{source}}&amp;style=apa" data-style="apa">APA</a> |
        <a href="?source={{source}}&amp;style=mla" data-style="mla">MLA</a> |
        <a href="?source={{source}}&amp;style=cse-ad" data-style="cse-ad">CSE (Author-Date)</a> |
        <a href="?source={{source}}&amp;style=cad" data-style="cad">Chicago (Author-Date)</a> |
        <a href="?source={{source}}&amp;style=cnb" data-style="cnb">Chicago (Notes and Bibliography)</a>
    </div>
</script>