<script type="x-mustache-tmpl" id="tmpl-book">
<ul>
    <li><a href="#book-1">in print</a></li>
    <li><a href="#book-2">online</a></li>
    <li><a href="#book-3">downloaded book</a></li>
</ul>
<div id="book-1">
    <form action="{{action}}" method="get">
        {{> contributor}}
        <div class="left">Title:</div><div class="right"><input type="text" name="title" class="long" /></div>
        {{> publication}}
        <input type="hidden" name="type" value="book" />
        {{> submit}}
    </form>
</div>
<div id="book-2">
    <form action="{{action}}" method="get">
        {{> contributor}}
        <div class="left">Title:</div><div class="right"><input type="text" name="title" size="50"/></div>
        <div class="left">Publication Info:</div>
        <div class="right">
            <input type="text" name="issued[date-parts][0][]" placeholder="Year" class="year" maxlength="4"/>
        </div>
        {{> urldoi}}
        <input type="hidden" name="type" value="book" />
        {{> submit}}
    </form>
</div>
<div id="book-3">
    <form action="{{action}}" method="get">
        {{> contributor}}
        <div class="left">Title:</div><div class="right"><input type="text" name="title" size="50"/></div>
        {{> publication}}
        {{> urldoi}}
        <input type="hidden" name="type" value="book" />
        {{> submit}}
    </form>
</div>
</script>