<script id="tmpl-journal" type="x-mustache-tmpl">
<ul>
    <li><a href="#tabs-1">in print</a></li>
    <li><a href="#tabs-2">online</a></li>
</ul>
<div id="tabs-1">
    <form action="{{action}}" method="get">
        {{> contributor}}
        <div class="left">Article title:</div><div class="right"><input type="text" name="title" /></div>
        <div class="left">Journal title:</div><div class="right"><input type="text" name="container-title" /></div>
        {{> volume}}
        <div class="left">Year published:</div><div class="right"><input type="text" name="issued[raw]" class="year" maxlength="4" placeholder="yyyy"/></div>
        {{> pages}}
        <input type="hidden" name="type" value="article-journal" />
        {{> submit}}
    </form>
</div>
<div id="tabs-2">
    <form action="{{action}}" method="get">
        {{> contributor}}
        <div class="left">Article title:</div><div class="right"><input type="text" name="title" /></div>
        <div class="left">Journal title:</div><div class="right"><input type="text" name="container-title" /></div>
        {{> volume}}
        <div class="left">Year published:</div><div class="right"><input type="text" name="issued[raw]" class="year" maxlength="4" placeholder="yyyy"/></div>
        {{> pages}}
        <div class="left">Database title:</div><div class="right"><input type="text" name="archive" /></div>
        {{> accessed}}
        <input type="hidden" name="type" value="article-journal" />
        {{> submit}}
    </form>
</div>
</script>