<script id="tmpl-magazine" type="x-mustache-tmpl">
<ul>
    <li><a href="#tabs-1">in print</a></li>
    <li><a href="#tabs-2">on a web site</a></li>
    <li><a href="#tabs-3">in a database</a></li>
</ul>
<div id="tabs-1">
    <form action="{{action}}" method="get">
        {{> contributor}}
        <div class="left">Article title:</div><div class="right"><input type="text" name="title" /></div>
        <div class="left">Magazine title:</div><div class="right"><input type="text" name="container-title" /></div>
        {{> issued}}
        {{> pages}}
        <input type="hidden" name="type" value="article-magazine" />
        {{> submit}}
    </form>
</div>
<div id="tabs-2">
    <form action="{{action}}" method="get">
        {{> contributor}}
        <div class="left">Article title:</div><div class="right"><input type="text" name="title" /></div>
        <div class="left">Magazine title:</div><div class="right"><input type="text" name="container-title" /></div>
        {{> issued}}
        <div class="left">Site publisher / sponsor:</div><div class="right"><input type="text" name="publisher" /></div>
        {{> accessed}}
        <input type="hidden" name="type" value="webpage" />
        {{> submit}}
    </form>
</div>
<div id="tabs-3">
    <form action="{{action}}" method="get">
        {{> contributor}}
        <div class="left">Article title:</div><div class="right"><input type="text" name="title" /></div>
        <div class="left">Magazine title:</div><div class="right"><input type="text" name="container-title" /></div>
        {{> issued}}
        {{> pages}}
        <div class="left">Database title:</div><div class="right"><input type="text" name="archive" /></div>
        {{> accessed}}
        <input type="hidden" name="type" value="article-magazine" />
        {{> submit}}
    </form>
</div>
</script>